<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>FieldEquip UAT</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.117</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>4.117</string>
	<key>GCM_SENDER_ID</key>
	<string>807116384764</string>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>citymapper</string>
		<string>comgooglemaps</string>
		<string>navigon</string>
		<string>transit</string>
		<string>waze</string>
		<string>yandexnavi</string>
		<string>uber</string>
		<string>tomtomhome</string>
		<string>com.sygic.aura</string>
		<string>here-route</string>
		<string>moovit</string>
		<string>lyft</string>
		<string>mapsme</string>
		<string>cabify</string>
		<string>baidumap</string>
		<string>taxis99</string>
		<string>iosamap</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>10.10.8.73</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>ionic.local</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>FieldEquip requires to access your camera for adding images while creating workorders and tickets.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>FieldEquip requires this for authenticate user.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>FieldEquip requires to access your location for collecting user distance from work place location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>FieldEquip requires to access your location for collecting user distance from work place location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>FieldEquip requires to access your location for collecting user distance from work place location</string>
	<key>NSMainNibFile</key>
	<string></string>
	<key>NSMainNibFile~ipad</key>
	<string></string>
	<key>NSMotionUsageDescription</key>
	<string>For track and calculate app user location to get distance infomation from work places. Fieldequip collects your location when the app is open on duty time</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>FieldEquip requires to access Photo Library for adding images while creating workorders and tickets.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>CDVLaunchScreen</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
